<div class="pages">
    <div data-page="feature-page" class="page">
	    <div class="page-content content-bg">
			<div class="navbar">
			  <div class="navbar-inner">
			    <div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
			    <div class="center sliding">Achei uma placa</div>
				<div class="right">
			    	<a href="index.html" class="link icon-only"><i class="fa fa-home"></i></a>
			    </div>
			  </div>
			</div>
	    	<div class="feature-page">
		        <div class="stander-row">
			       <div class="contact-form">
						<form action="/achei" id="form-placa" method="POST">
							<input type="text" name="placaEnc" placeholder="Placa" required />
							<input type="text" name="nomeEnc" placeholder="Nome Sobrenome" required />
							<input type="text" name="telEnc" placeholder="Telefone" required />
							<input type="text" name="endEnc" placeholder="Local Achado" />
							<div class="contact-button">
        				<button type="submit" class="button button-big">ENVIAR</button>
							</div>
						</form>
						<div class="contact-info">
						</div>
					</div>
				</div>
	       	</div>
    	</div>
   	</div>
</div>

