<div class="pages">
	<div data-page="feature-page" class="page">
		<div class="page-content content-bg">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Colabore</div>
				</div>
			</div>	    	
			<div class="feature-page">
				<div class="stander-row">
					<div class="contact-heading">
						<p>Sua rua esta alagada?</p>
						<p>Viu algum suposto foco de dengue?</p>
						<p>Bueiro entupido?</p>
						<p>Algo na sua localidade esta errado?</p>
						<p>Envie-nos uma mensagem relatando o fato para que possamos enviar as autoridades competentes</p>
					</div>
					<div class="contact-form">
						<form action="" method="POST">
							<input type="text" name="name" placeholder="Nome Sobrenome" required />
							<input type="email" name="email" placeholder="contatol@ichoveu.com.br" required />
							<input type="text" name="local" placeholder="Local do Relato" required />
							<textarea name="message" id="message" cols="30" rows="4" placeholder="Digite sua mensagem"></textarea>
							<div class="contact-button">
								<button type="submit" class="button button-big">Enviar</button>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>