<div class="pages">
	<div data-page="feature-page" class="page">
		<div class="page-content content-bg">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Fale conosco</div>
				</div>
			</div>	    	
			<div class="feature-page">
				<div class="stander-row">
					<div class="contact-heading">
						<h3>iChoveu</h3>
						<p>R. Vinte e Um de Abril, 3370 - Torrões, Recife - PE, 50761-350</p>
						<p>Telefone: (81) 3355-7000</p>
						<p>Email : contato@ichoveu.com.br </p>
					</div>
					<div class="contact-form">
						<form action="index.html" method="POST">
							<input type="text" name="name" placeholder="Nome Sobrenome" required />
							<input type="email" name="email" placeholder="contatol@ichoveu.com.br" required />
							<textarea name="message" id="message" cols="30" rows="4" placeholder="Digite sua mensagem"></textarea>
							<div class="contact-button">
								<button type="submit" class="button button-big">Enviar</button>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>