<div class="pages">
	<div data-page="feature-page" class="page">
		<div class="page-content content-bg">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Áreas de foco</div>
					<div class="right">
						<a href="index.html" class="link icon-only"></i></a>
					</div>
				</div>
			</div>
			<div class="feature-page">
				<div class="alagamento-map">
					<iframe src="http://api.ichoveu.ngrok.io/choveu/dengue_map.php"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>