<div class="pages">
	<div data-page="department" class="page">
		<div class="page-content content-bg ">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Aedes Aegypti</div>
					<div class="right">
						<a href="index.html" class="link icon-only"></a>
					</div>
				</div>
			</div>	    	
			<div class="department-page overlay-bg">
				<div class="stander-row fix">
					<div class="department-content">
						<div class="row">
							<div class="col-100 tablet-100">
								<div class="department-box">
									<a href="dengue_mapa.html">
										<div class="department-img"><i class="fa fa-info fa-3x"></i> </div>
										<div class="department-text">
											<h3>CASOS DA AEDES</h3>
											<p>Clique aqui para verificar o histórico dos focos e dos casos do Aedes Aegypti proxímo a sua localidade.</p>
										</div>
									</a>
								</div>
							</div>
						</div>				
					</div>						
				</div>	
			</div>       	
		</div>
	</div>
</div>