<div class="pages">
	<div data-page="book-appointment" class="page">
		<div class="page-content content-bg ">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Ajude</div>
					<div class="right">
						<a href="index.html" class="link icon-only"></a>
					</div>
				</div>
			</div>
			<div class="book-appointment-page overlay-bg">
				<div class="stander-row">
					<div class="section-heading">
						<h3>Doe</h3>
					</div>
					<p>Ajude o próximo, doe roupas, lençóis, materias de higiene e alimentos não pereciveis para as famílias desabrigadas por conta da chuva. Preencha os dados abaixos, selecionando a ONG desejada, e entraremos em contato para indicar o posto de doação mais proximo.</p>
					<div class="form-content">
						<div class="contact-form">
							<form action="#">
								<input type="text" name="nome" placeholder="Name Sobrenome" />
								<input type="email" name="email" placeholder="email@ichoveu.com.br" />
								<input type="text" name="telefone" placeholder="Telefone"/>
								<div class="list-block">
									<ul>
										<li>
											<a data-open-in="popup" class="smart-select" data-searchbar-placeholder="Buscar Ong" data-searchbar="true" href="#">
												<select name="ong">
													<option value="ONG - Céu Azul">ONG - Céu Azul</option>
													<option value="ONG - Zé Pequeno">ONG - Zé Pequeno</option>
													<option value="ONG - Rosa Vermelha">ONG - Rosa Vermelha</option>
													<option value="ONG - Chāo de Giz">ONG - Chāo de Giz</option>
													<option value="ONG - Moça Bonita">ONG - Moça Bonita</option>
												</select>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title">Selecione a ONG</div>
														<div class="item-after"></div>
													</div>
												</div>
											</a>
										</li>
										<li>
										</li>
									</ul>
								</div>
								<textarea name="mensage" id="message" cols="30" rows="4" placeholder="Com oque você pode doar?"></textarea>
								<div class="contact-button">
									<button type="submit" class="button button-big">ENVIAR</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>