<div class="pages">
<script type="text/javascript"></script>
	<div data-page="department" class="page">
		<div class="page-content content-bg ">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">INFORMAÇŌES</div>
					<div class="right">
						<a href="index.html" class="link icon-only"></a>
					</div>
				</div>
			</div>	    	
			<div class="department-page overlay-bg">
				<div class="stander-row fix">
					<div class="department-content">
						<div class="row">
							<div class="col-100 tablet-100">
								<div class="department-box">
									<a>
										<div class="department-img"><i class="fa fa-info fa-3x"></i> </div>
										<div class="department-text">
											<h3>IMPORTANTE</h3>
											<a href="tel:193" class="external"><i class="fa fa-phone-square" aria-hidden="true"></i> Disque 193 - Corpo de Bombeiros</a><br>
											<a href="tel:192" class="external"><i class="fa fa-phone-square" aria-hidden="true"></i> Disque 192 - Defesa Civil</a><br>
											<a href="tel:190" class="external"><i class="fa fa-phone-square" aria-hidden="true"></i> Disque 190 - Samu</a>
										</div>
									</a>
								</div>
							</div>
						</div>				
					</div>						
				</div>	
			</div>       	
		</div>
	</div>
</div>