
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="live-chat-page" class="page">
    <!-- Scrollable page content-->
	    <!-- Additional "messages-init" class-->
		<div class="page-content messages-content">
			<div class="navbar">
			  <div class="navbar-inner">
			    <div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
			    <div class="center sliding">LIVE CHAT</div>
			    <div class="right">
			    	<a href="index.html" class="link icon-only"><img src="assets/img/menu.png" alt=""></a>
			    </div>
			  </div>
			</div>
			<div class="messages messages-auto-layout">
				<div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>
				<div class="message message-sent message-first">
					<div class="message-text">Hello</div>
				</div>
				<div class="message message-sent message-last message-with-tail">
					<div class="message-text">How are you?</div>
				</div>
				<div class="message message-received message-with-avatar message-last message-with-tail message-first">
					<div class="message-name">Madhusudan</div>
					<div class="message-text">I am fine, thanks</div>
					<div class="message-avatar" style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)"></div>
				</div>
				<div class="messages-date">Sunday, Feb 3 <span>11:58</span></div>
				<div class="message message-sent message-first">
					<div class="message-text">Nice photo?</div>
				</div>
				<div class="message message-sent message-pic message-last message-with-tail">
					<div class="message-text"><img src="http://lorempixel.com/300/300/" alt=""></div>
					<div class="message-label">Delivered</div>
				</div>
				<div class="message message-received message-with-avatar message-last message-with-tail message-first">
					<div class="message-name">Madhusudan</div>
					<div class="message-text">Wow, awesome!</div>
					<div class="message-avatar" style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)"></div>
				</div>
			</div>
		</div>
		<div class="toolbar messagebar">
			<div class="toolbar-inner">
				<textarea placeholder="Message" class=""></textarea><a class="link" href="#">Send</a>
			</div>
		</div>
	</div>
</div>
