<div class="pages">
	<div data-page="feature-page" class="page">
		<div class="page-content content-bg">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Buscar minha placa</div>
					<div class="right">
						<a href="index.html" class="link icon-only"><img src="assets/img/menu.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="feature-page">
				<div class="stander-row">
					<div class="contact-form">
							<input type="text" id="placa" name="placa" placeholder="Placa" required />
							<div class="department-box" style="display: none;" id="detail">
								<p>Placa:</p> <p id='placaEnc'></p>
								<p>Quem Achou:</p> <p id='nome'></p>
								<p>Telefone:</p> <p id="tel"></p>
								<p>Local:</p> <p id="end"></p>
							</div>
							<div class="department-text" id="msg" style="display: none;">
								<p>
									<strong>Placa Não Encontrada</strong>
								</p>
							</div>
							<div class="contact-button">
								<button onclick="buscarPlaca()" class="button button-big">BUSCAR</button>
							</div>
						<div class="contact-info">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

