<div class="pages">
	<div data-page="department" class="page">
		<div class="page-content content-bg ">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Placas Perdidas</div>
					<div class="right">
						<a href="index.html" class="link icon-only"></a>
					</div>
				</div>
			</div>	    	
			<div class="department-page overlay-bg">
				<div class="stander-row fix">
					<div class="section-heading">
						<h3>Selecione uma Opçāo</h3>
					</div>
					<div class="department-content">
						<div class="row">
							<div class="col-100 tablet-50">
								<div class="department-box">
									<a href="achei.html">
										<div class="department-img"><i class="fa fa-check fa-3x"></i> </div>
										<div class="department-text">
											<h3>Achei</h3>
											<p>Achei uma placa e gostaria de cadastrar para que o dono possa achar</p>
										</div>
									</a>
								</div>
							</div>
							<div class="col-100 tablet-50">
								<div class="department-box">
									<a href="perdi.html">
										<div class="department-img"><i class="fa fa-search fa-3x"></i> </div>
										<div class="department-text">
											<h3>Perdi</h3>
											<p>Perdi minha placa e gostaria de pesquisar</p>
										</div>
									</a>
								</div>
							</div>
						</div>				
					</div>						
				</div>
			</div>       	
		</div>
	</div>
</div>