<div class="pages">
    <div data-page="feature-page" class="page">
	    <div class="page-content content-bg">
			<div class="navbar">
			  <div class="navbar-inner">
			    <div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
			    <div class="center sliding">Áreas de Risco</div>
				<div class="right">
					</div>
			  </div>
			</div>
    		<div class="feature-page">
		    	<div class="alagamento-map">
		    		<iframe src="http://api.ichoveu.ngrok.io/choveu/caution_areas_map.php"></iframe>
        	</div>
       	</div>
    	</div>
   	</div>
</div>