<div class="pages">
	<div data-page="department" class="page">
		<div class="page-content content-bg ">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Solidariedade</div>
					<div class="right">
						<a href="index.html" class="link icon-only"></a>
					</div>
				</div>
			</div>	    	
			<div class="department-page overlay-bg">
				<div class="stander-row fix">
					<div class="section-heading">
						<h3>Selecione uma Opçāo</h3>
					</div>
					<div class="department-content">
						<div class="row">
							<div class="col-100 tablet-50">
								<div class="department-box">
									<a href="voluntario.html">
										<div class="department-img"><i class="fa fa-users fa-3x"></i> </div>
										<div class="department-text">
											<h3>Voluntário</h3>
											<p>Clique aqui caso queira se cadastrar como voluntário</p>
											
										</div>
									</a>
								</div>
							</div>
							<div class="col-100 tablet-50">
								<div class="department-box">
									<a href="doar.html">
										<div class="department-img"><i class="fa fa-plus fa-3x"></i> </div>
										<div class="department-text">
											<h3>Doar</h3>
											<p>Clique aqui caso queira doar algum material</p>
											
										</div>
									</a>
								</div>
							</div>
						</div>				
					</div>						
				</div>
			</div>       	
		</div>
	</div>
</div>