<div class="pages">
	<div data-page="book-appointment" class="page">
		<div class="page-content content-bg ">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="left"><a href="#" class="back link"><i class="pe-7s-back"></i></a></div>
					<div class="center sliding">Ajude</div>
					<div class="right">
						<a href="index.html" class="link icon-only"></a>
					</div>
				</div>
			</div>
			<div class="book-appointment-page overlay-bg">
				<div class="stander-row">
					<div class="section-heading">
						<h3>Cadastro Voluntário</h3>
					</div>
					<p>Ajudar o próximo nunca foi tao importante, cadastre-se para ajudar as vitimas da chuva no nosso estado, pois amanhã você também poderá precisar dessa ajuda. Preencha os dados abaixo, e se cadastre no banco de voluntarios da sua cidade.</p>
					<div class="form-content">
						<div class="contact-form">
							<form action="/voluntario" id="form-voluntario" method="POST">
								<input type="text" name="nome" placeholder="Nome Sobrenome" />
								<select>
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Femenino</option>
								</select>
								<input type="text" name="cidade" placeholder="Cidade Residente" />
								<input type="email" name="email" placeholder="email@ichoveu.com.br" />
								<input type="text" name="telefone" placeholder="Telefone"/>
								<div class="contact-button">
									<button type="submit" class="button button-big">ENVIAR</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>